@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-size:x-large;
    text-align: center;
}
.align-center {
    width: max-content;
    margin: auto;
}
#container {
    margin-top: 10%;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(1,1,1,0.5);
}
.box {
    border-radius: 5px;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
.box:focus {
    border: 2px solid;
}

input[type=checkbox]:checked + span {
    text-decoration: line-through;
}
.tasks {
    display: flex;
    font-family: monospace;
}